* {
    box-sizing: border-box;
    margin: 0 auto;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(19, 201, 233, 0.356) ;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

#tituloMenu{
    padding-bottom: 20px;
}

.menu{
    padding: 10px;
}



nav ul{
    list-style-type: none;

}

nav a{
    text-decoration: none;
}



article p{
    text-indent: 0px;
}

section::after{
    clear: both;
    display: table;
    content: "";
}

footer{
    background-color: rgb(19, 201, 233, 0.356) ;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
}